<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"
            allowInsecureConnections="true" />
        <add key="runflare" value="https://mirror-nuget.runflare.com/v3/index.json"
            protocolVersion="3" allowInsecureConnections="true" />-->
        <add key="GitHub" value="https://nuget.pkg.github.com/ChronosPlatform/index.json"
            protocolVersion="3"  allowInsecureConnections="true" />
    </packageSources>


    <packageSourceCredentials>
        <GitHub>
            <add key="Username" value="sinavali" />
            <add key="ClearTextPassword" value="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" />
        </GitHub>
    </packageSourceCredentials>
</configuration>
