<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"
             allowInsecureConnections="true" />
        <add key="runflare" value="https://mirror-nuget.runflare.com/v3/index.json" protocolVersion="3"
             allowInsecureConnections="true" />
        <add key="liara" value="https://package-mirror.liara.ir/repository/nuget/index.json" protocolVersion="3"
             allowInsecureConnections="true" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sinavali" />
            <add key="ClearTextPassword" value="${GITHUB_TOKEN}" />
        </github>
    </packageSourceCredentials>
</configuration>
